{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    <h1>Bienvenu sur l'API salle de sport</h1>


    <a href="{{ path('app_admin_connect') }}">
        <button>Accès Administrateur</button>
    </a>
    <a href="{{ path('app_franchise_connect') }}">
        <button>Accès Franchise</button>
    </a>
    <a href="{{ path('app_structure_connect') }}">
        <button>Accès Structure</button>
    </a>
    <!--
    <div>
        <p>Vous pouvez vous connectez à votre compte en cliquant sur ce <a href="/connect">lien</a></p>
        <p>Vous pouvez trouver la procédure pour demander l'ouverture d'<a href="#">une franchise de la marque</a>.</p>
    </div>
    -->
{% endblock %}
