<nav>
    <div class="link">
        <img src="{{ asset('/images/logo.jpg') }}" alt="photo de la salle" class="imgNav">
        <a href="/">
            Accueil
        </a>

        <a href="/connect">Connexion</a>

        <a href="/partner">
            Partenaire
        </a>

        <div class="partnerNav">
            <a href="/partner">
                Liste des partenaires
            </a>
            <a href="/partner/edit">
                Modifier un partenaire
            </a>
            <hr>
            <a href="/partner/new">
                Créer un nouveau partenaire
            </a>
        </div>
    </div>

    <div class="buttonNav">
        <button>
            <a class="franchise_new" href="/formulaire">
                Demander la création <br> d'une nouvelle franchise
            </a>
        </button>
        <button>
            <a class="connect" href="/connect">
                Connexion
            </a>
        </button>
    </div>
</nav>