.inputConnect{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
}

.inputConnect div{
    margin: 1rem;
}

.inputConnect div input{
    width: 100%;
    margin-top: 10px;
}

form button {
    width: 100px;
    margin: 50px auto auto;
}

@media screen and (min-width: 900px){
    .inputConnect div input{
        height: 30px;
    }

    form button{
        height: 40px;
        width: 150px;
    }
}

@media screen and (min-width: 1200px){
    .inputConnect div input{
        width: 80%;
        margin: auto;
    }

    .inputConnect div label{
        margin-bottom: 1rem;
    }

    .inputConnect div{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }

    form button{
        height: 40px;
        width: 200px;
    }
}

@media screen and (min-width: 1600px){
    .inputConnect div input{
        height: 50px;
    }

    form button{
        height: 60px;
        width: 250px;
        font-size: 1.5rem;
    }
}