.articleInfo,
.articleOption{
    padding: 2rem;
}

.articleInfo div{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.articleInfo div:nth-child(4){
    display: flex;
    flex-direction: row;
}

.articleOption{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: auto;
}

.sectionOption{
    display: block;
}

.formDescription{
    height: 100px;
}

.form,
.formDescription{
    border-radius: 5px;
}

.articleInfo div:nth-child(8){
    display: none;
}

@media screen and (min-width: 900px){
    .articleOption{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1200px){
    .articleInfo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: auto
    }

    .articleInfo div:nth-child(8){
        display: block;
    }
}

@media screen and (min-width: 1600px) {
    .articleOption{
        grid-template-columns: repeat(4, 1fr);
    }

    .articleInfo div:nth-child(3){
        margin-top: 3rem;
    }

    .form{
        height: 50px;
    }

    .formDescription{
        height: 150px;
    }
}

@media screen and (min-width: 1900px){
    .articleOption{
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (min-width: 2200px){
    .articleInfo{
        grid-template-columns: repeat(3, 1fr);
    }

    .articleInfo div:nth-child(8){
        display: none;
    }
}

@media screen and (min-width: 2400px) {
    .articleOption{
        grid-template-columns: repeat(6, 1fr);
    }
}