@import 'interrupteur.css';

h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
h2,
h3{
    text-align: center;
}

.partnerActiveForm {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.labelActiveForm{
    margin-right: 1rem;
    padding-top: 1rem;
}

/* Page partner/index */
.search{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    margin: 1rem;
}

.search input{
    border-radius: 4px;
}

.searchPartner div:nth-child(2) button{
    margin: 1rem;
    border-radius: 5px;
}

.listPartnerDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listPartnerDiv div{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.listPartnerDiv img{
    width: 250px;
    margin: 3rem;
}

.partnerButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
}

.partnerButton button{
    border-radius: 5px;
}

.partnerButton button a{
    color: black;
}

.listActif{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem;
}

@media screen and (min-width: 700px){
    .search{
        font-size: 1rem;
    }
    .search input,
    .searchPartner div:nth-child(2) button{
        height: 1.5rem;
    }
}

@media screen and (min-width: 900px) {
    h1 {
        font-size: 3rem;
    }

    .listPartnerDiv img{
        width: 300px;
    }
}

@media screen and (min-width: 1200px){
    section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: auto;
    }

    .listPartnerDiv img{
        width: 250px;
    }

    .searchDiv{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
        grid-auto-rows: auto;
    }
}

@media screen and (min-width: 1600px) {
    h1 {
        font-size: 4rem;
    }

    .listPartner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: auto;
        font-size: 1rem;
    }

    .listPartnerDiv img{
        width: 300px;
    }
}

@media screen and (min-width: 1900px){
    .listPartner{
        grid-template-columns: repeat(3, 1fr);
    }

    .listPartnerDiv img{
        width: 250px;
    }
}

@media screen and (min-width: 2400px){
    .listPartnerDiv img{
        width: 300px;
    }
}