{% set use_nav = false %}

{% extends 'base.html.twig' %}

{% block body %}
    <article class="container">
        <h2 class="text-center my-4">Choisissez votre mot de passe :</h2>
        {{ form_start(structurePasswordNew) }}
        <div class="d-flex flex-column justify-content-center">
            {{ form_label(structurePasswordNew.plainPassword) }}
            {{ form_widget(structurePasswordNew.plainPassword, {'attr': {'class' : 'rounded-3 my-2'}}) }}
        </div>
        <div>
            <button class="btn btn-success rounded-3 p-2">
                Valider
            </button>
        </div>
        {{ form_end(structurePasswordNew) }}
    </article>
{% endblock %}
