<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}API salle de sport{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('assets/style.css') }}">
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
</head>
<body>
{# use_nav = j'utilise la nav si je le souhaite. Si la variable n'existe pas, alors je l'utilise par défaut #}
{% if use_nav is not defined or use_nav %}
    {% include 'base/nav.html.twig' %}
{% endif %}

{% block body %}{% endblock %}
</body>
</html>
