<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}API salle de sport{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('assets/style.css') }}">
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
</head>
<body>
{% include 'base/nav.html.twig' %}

{% block body %}{% endblock %}
</body>
</html>
