{% set use_nav = false %}

{% extends 'base.html.twig' %}

{% block body %}
    <article class="container">
        {{ form_start(franchisePasswordNew) }}
        <div>
            {{ form_widget(franchisePasswordNew.plainPassword) }}
        </div>
        <div></div>
        {{ form_end(franchisePasswordNew) }}
    </article>
{% endblock %}
