<div class="form-check form-switch d-flex flex-row align-items-center">
    {# Bouton va et vient // Début #}
    <label>
        {% if active %}
            <input name="check" class="form-check-input bg-success" type="checkbox" checked disabled >
        {% else %}
            <input name="disableCheck" class="form-check-input bg-danger" type="checkbox" disabled>
        {% endif %}
        <span></span>
    </label>
    {# FIN #}
    {% if active %}
    <label for="check" class="form-check-label">ACTIF</label>
    {% else %}
    <label for="disableCheck" class="form-check-label">NON ACTIF</label>
    {% endif %}
</div>