<div class="etat">
    {# Bouton va et vient // Début #}
    <label class="int">
        {% if active %}
            <input type="checkbox" checked disabled>
        {% else %}
            <input type="checkbox" disabled>
        {% endif %}
        <span></span>
    </label>
    {# FIN #}

</div>