<div class="form-check form-switch">
    {# Bouton va et vient // Début #}
    <label class="int">
        {% if active %}
            <input type="checkbox" class="form-check-input bg-success" checked disabled>
        {% else %}
            <input type="checkbox" class="form-check-input bg-danger" disabled>
        {% endif %}
        <span></span>
    </label>
    {# FIN #}

</div>

