    {# Bouton va et vient // Début #}
    <label class="form-check form-switch">
        {{ form_widget(form, {'attr' : {'class': 'form-check-input'}}) }}
        <span></span>
    </label>
    {# FIN #}
