{% block email_content %}
    {% mjml %}
        <mjml>
            <mj-body>
                <mj-section>
                    <mj-column>

                        <mj-image width="100px" src="{{ asset('images/logo1.jpg') }}"></mj-image>

                        <mj-divider border-color="#3E3C3C"></mj-divider>

                        <mj-text font-size="20px" color="#3E3C3C" font-family="helvetica">Bonjour,</mj-text>
                        <mj-text font-size="20px" color="#3E3C3C" font-family="helvetica">Vous recevez ce mail suite à
                            une modification en lien avec votre structure {{ structure.name }}.
                        </mj-text>
                        <mj-text font-size="20px" color="#3E3C3C" font-family="helvetica">Pour valider les modifications, veuillez cliquer sur le bouton qui suit.
                        </mj-text>
                        <mj-text font-size="20px" color="#3E3C3C" font-family="helvetica">
                            <button>Validation des modifications</button>
                        </mj-text>

                    </mj-column>
                </mj-section>
            </mj-body>
        </mjml>
    {% endmjml %}
{% endblock %}