{% block email_content %}
    {% mjml %}
        <mjml>
            <mj-body>
                <mj-section>
                    <mj-column>
                        <mj-image width="100px" src="{{ absolute_url(asset('images/logo1.jpg')) }}"></mj-image>

                        <mj-divider border-color="#3E3C3C"></mj-divider>

                        <mj-text font-size="20px" color="#3E3C3C" font-family="helvetica">
                            Bonjour,
                        </mj-text>
                        <mj-text font-size="20px" color="#3E3C3C" font-family="helvetica">
                            Vous recevez ce mail suite à la création de votre structure {{ structure.name }},
                            lié à votre franchise "{{ franchise.name }}".
                        </mj-text>
                        <mj-text font-size="20px" color="#3E3C3C" font-family="helvetica">
                            Pour valider la création de la structure, veuillez cliquer sur le bouton qui suit.
                        </mj-text>
                        <mj-text font-size="20px" color="#3E3C3C" font-family="helvetica">
                            <a href="{{ url('app_franchise_validate_structure', {franchiseId: franchise.id, structureId: structure.id}) }}">
                                <button>
                                    Valider la structure
                                </button>
                            </a>
                        </mj-text>
                        <mj-divider border-color="#3E3C3C"></mj-divider>
                    </mj-column>
                </mj-section>
            </mj-body>
        </mjml>
    {% endmjml %}
{% endblock %}
