{% block title %}Mail de souscription{% endblock %}

{% block body %}
<h1>Demande d'autorisation d'accès aux données</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolorum est ex, exercitationem fugiat ipsam iure molestias neque odio quam qui, ratione saepe sint tenetur ullam unde ut velit vero?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolorum est ex, exercitationem fugiat ipsam iure molestias neque odio quam qui, ratione saepe sint tenetur ullam unde ut velit vero?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolorum est ex, exercitationem fugiat ipsam iure molestias neque odio quam qui, ratione saepe sint tenetur ullam unde ut velit vero?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolorum est ex, exercitationem fugiat ipsam iure molestias neque odio quam qui, ratione saepe sint tenetur ullam unde ut velit vero?</p>
    <button type="submit">Accepter l'accès</button>
{% endblock %}
