{% block title  %}Test mail {% endblock %}

{% block body %}
<h1>Validation de création de la franchise</h1>

<p>
    Vous avez ouvert récemment une franchise à {{ franchise.city }}, veuillez cliquer sur ce bouton pour valider
</p>

<p>
    <button type="submit"><a href="#">Click here to activate your account</a></button>
</p>
{%  endblock %}