{% extends 'base.html.twig' %}

{% block title %}Création d'un nouveau partenaire{% endblock %}

{% block body %}
    <main class="container-fluid">
    <h2 class="text-center m-4">Informations de la franchise</h2>
    {{ form_start(franchiseRegistrationForm) }}
    {% include "franchise/franchise_form.html.twig" %}
    <div class="d-flex flex-row justify-content-around m-3">
        <a href="{{ path('app_admin_list_franchise') }}" class="rounded-3 p-2 btn btn-danger">
                Annuler
        </a>
        <button type="submit" class="rounded-3 p-2 btn btn-success" name="submit">
            Valider
        </button>
    </div>
    {{ form_end(franchiseRegistrationForm) }}
{% endblock %}
