{% extends 'base.html.twig' %}

{% block title %}Modification d'un nouveau partenaire{% endblock %}

{% block body %}
    <h2>Informations de la franchise</h2>
    {% include "franchise/franchise_form.html.twig" %}
    <div>
        <button type="button"><a href="{{ path('app_list_franchise') }}">Annuler</a></button>
        <button>Valider</button>
    </div>
    {{ form_end(franchiseRegistrationForm) }}
{% endblock %}