<article>
    {{ form_start(franchisePasswordNew) }}
    <div>
        {{ form_widget(franchisePasswordNew.plainPassword) }}
    </div>
    <div></div>
    {{ form_end(franchisePasswordNew) }}
</article>