{% extends 'base.html.twig' %}

{% block title %}La liste des partenaires{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/filters.js') }}" defer></script>
{% endblock %}

{% block body %}
    <main class="container">
        {% include 'search/searchFranchise.html.twig' %}
        <h2 class="text-center m-4 text-decoration-underline">
            Liste des franchises
        </h2>
        {% include 'franchise/franchise_list.html.twig' %}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="d-flex flex-row justify-content-end mx-3 mt-5 mb-2">
                <a href="{{ path('app_admin_create_franchise') }}">
                    <button type="button" class="rounded-3 p-1 btn btn-secondary">
                        Créer une nouvelle franchise
                    </button>
                </a>
            </div>
        {% endif %}
        <div class="pagination justify-content-center">
            {{ knp_pagination_render(franchises) }}
        </div>
    </main>
{% endblock %}

